extends 'layout.jade'
block sidebar
  ul.nav.nav-sidebar
    - for mixture in mixtures.items
      a(href= url_for('mixture_show', mixture_id=mixture.id))
        li= mixture.name
  nav
    ul.pager
      - if mixtures.has_prev
        li
          a(href= url_for('index', page=mixtures.prev_num, q=q)) Previous
      - if mixtures.has_next
        li
          a(href= url_for('index', page=mixtures.next_num, q=q)) Next

block page
  h2 Welcome

  p Use the search form or the menu to the left to find the data you are interested in.
  = mixtures.total|string + ' results (' + mixtures.pages|string + ' pages)'

  p.text-muted This database contains {{ stats['mixtures_count'] }} compounds and a total of {{ stats['spectra_count'] }} spectra.
