extends 'layout.jade'
block page
  p= analogues.total|string + ' results (' + analogues.pages|string + ' pages)'

  ul.nav
    - for analogue in analogues.items
      a(href= url_for('analogue_show', analogue_id=analogue.id))
        li= analogue.name
  nav
    ul.pager
      - if analogues.has_prev
        li
          a(href= url_for('index', page=analogues.prev_num, q=q)) Previous
      - if analogues.has_next
        li
          a(href= url_for('index', page=analogues.next_num, q=q)) Next

  p.text-muted This database contains {{ stats['analogues_count'] }} compounds and a total of {{ stats['spectra_count'] }} spectra.
